.heading {
    text-align: center;
}

.login-container {
    background-color: white;
    width: 400px;
    border-radius: 16px;
}

.input {
    width: 300px;
    height: 32px;
    margin-bottom: 10px;
    padding-bottom: 6px;
    padding-left: 6px;
}

.custom-button-1 {
    background-image: linear-gradient(#d0b200, #a58d00);
    color: white;
    background-color: #d0b200;
    width: 150px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.icon {
    margin-top: 10px;
    height: 50px;
    text-align: center;
}